<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card border-success mb-3 text-center">
                <div class="card-header">
                    <div class="avtar">
                        <img src="/images/<%= user.avtar %>.png" alt="avtar"
                            style='width:70% ; height:100%; align-items:center'>
                    </div>
                    <%= user.username %>
                </div>
                <div class="card-body text-success">
                    <h5 class="card-title">
                        <%= user.email %>
                    </h5>
                    <p class="card-text">
                        <%= user.dateOfBirth %>
                    </p>
                    <p class="card-text">
                        <%= user.phoneNo %>
                    </p>
                    <p class="card-text">
                        <%= user.gender %>
                    </p>

                </div>
            </div>
        </div>
    </div>